.aboutProduct {
  padding-bottom: 10px;
}
.aboutProduct > div:first-child {
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d9da;
}
.aboutProduct > div:first-child h2 {
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 10px;
}
.discription {
  font-size: 1.3rem;
  text-align: justify;
  line-height: 1.7rem;
  padding-bottom: 10px;
}
.visit {
  display: block;
  padding-bottom: 5px;
  font-size: 14px;
  color: #40beb2;
}
.visit:hover,
.searchPage:hover,
.voted:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
}
.rating {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.rating > div > div:first-child {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.modalStars {
  position: absolute;
  top: 100%;
  transform: translate(-20%, -3%);
  background-color: white;
  z-index: 1;
  width: 350px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.751);
}
.modalStars > div {
  padding-bottom: 10px;
}
.modalStars > div > span {
  padding-left: 5px;
}
.modalStars > p {
  font-size: 15px;
}
.modalStars > ul {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.modalStars > ul > li {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}
.modalStars > ul > li:hover > a {
  text-decoration: underline;
  color: red;
}
.modalStars > ul > li > a {
  color: #509396;
}
.modalStars > ul > li > div {
  width: 70%;
  height: 25px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;
}
.modalStars > ul > li > div > span {
  height: 99%;
  display: inline-block;
  background-color: orange;
  border-radius: 5px;
}
.modalStars > ul > li:nth-child(1) > div > span {
  width: 68%;
}
.modalStars > ul > li:nth-child(2) > div > span {
  width: 24%;
}
.modalStars > ul > li:nth-child(3) > div > span {
  width: 17%;
}
.modalStars > ul > li:nth-child(4) > div > span {
  width: 7%;
}
.modalStars > ul > li:nth-child(5) > div > span {
  width: 11%;
}
.modalStars > ul > li:nth-child(6) > div > span {
  width: 2%;
}
.rating span:first-child {
  padding-right: 5px;
}
.voted {
  padding: 0 10px;
  display: inline-block;
  color: #40beb2;
  font-size: 14px;
  border-right: 2px solid black;
}
.searchPage {
  padding-left: 10px;
  display: inline-block;
  color: #40beb2;
  font-size: 14px;
}
.bought {
  font-size: 13px;
}
.aboutProduct > div:nth-child(2),
.aboutProduct > div:nth-child(3),
.aboutProduct > div:nth-child(4) {
  padding: 10px 0;
  border-bottom: 1px solid #d7d9da;
}
.price {
  display: flex;
  align-items: center;
  padding-bottom: 0.8rem;
}
.price > span:first-child {
  color: red;
  font-size: 1.7rem;
  padding-right: 5px;
}
.price > div {
  display: flex;
  column-gap: 1px;
}
.price > div > span:first-child {
  font-size: 19px;
  font-weight: 400;
  align-self: start;
}
.price > div > span:nth-child(2) {
  font-weight: 500;
  font-size: 2rem;
  align-self: stretch;
}
.price > div > span:last-child {
  font-size: 14px;
  font-weight: 500;
  align-self: start;
  padding-top: 4px;
}
.aboutProduct > div:nth-child(2) > span {
  font-size: 12px;
  padding-bottom: 0.7rem;
  display: inline-block;
}
.aboutProduct > div:nth-child(2) > span > span {
  text-decoration: line-through;
  padding-left: 5px;
}
.aboutProduct > div:nth-child(2) > p {
  font-size: 14px;
  word-spacing: 1px;
}
.aboutProduct > div:nth-child(2) > p > a {
  color: #40beb2;
}
.aboutProduct > div:nth-child(2) > p > a:hover {
  color: red;
  text-decoration: underline;
}
.aboutProduct > div:nth-child(2) > p > span {
  color: white;
  background-color: #edb155;
  padding: 3px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.aboutProduct > div:nth-child(2) > p:last-child {
  padding-bottom: 5px;
}
.aboutProduct > div:nth-child(2) > p:not(:last-child) {
  padding-bottom: 0.7rem;
}
.aboutProduct > div:nth-child(3) > span {
  font-weight: normal;
  font-size: 0.9rem;
  padding-bottom: 5px;
  display: inline-block;
}
.aboutProduct > div:nth-child(3) > span > span {
  font-weight: 700;
}
.R3 {
  display: flex;
  align-items: center;
  column-gap: 7px;
  padding-bottom: 15px;
}
.R3 > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  row-gap: 5px;
  border-radius: 2px;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
.R3 > button > span:first-child {
  font-weight: 600;
}
.R3 > button > span:last-child {
  color: #c25253;
  font-size: 13px;
}
.selectedStyle {
  border: 1px solid #edb155;
}
.notSelectedStyle {
  border: 1px solid black;
}
.lists {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  padding-bottom: 5px;
}
.seeMore {
  height: auto;
}
.showLess {
  height: 250px;
  overflow: hidden;
}
.lists > div {
  display: flex;
  column-gap: 10px;
}
.lists > div > span:first-child {
  font-weight: 600;
  font-size: 14px;
  width: 200px;
}
.lists > div > span:last-child {
  font-size: 14px;
  row-gap: 10px;
}
.show {
  display: flex;
  align-items: center;
}
.iconShow {
  padding-top: 10px;
  font-size: 1.5rem;
}
.show span {
  padding-top: 5px;
  display: inline-block;
  color: #40beb2;
  font-size: 13px;
}
.show span:hover {
  color: red;
  cursor: pointer;
}
.aboutProduct > div:nth-child(4) > h3 {
  font-size: 17px;
  padding-bottom: 1rem;
  padding-top: 11px;
}
.aboutProduct > div:nth-child(4) > ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.aboutProduct > div:nth-child(4) > ul > li {
  list-style: disc;
  list-style-position: inside;
  font-size: 14px;
  font-weight: 500;
}
.showLessParagraph {
  height: 400px;
  overflow: hidden;
}
.seeMoreParagraph {
  height: auto;
}
.report {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding-bottom: 5px;
  padding-top: 10px;
}
.iconMessage {
  color: #989a99;
  font-size: 1.5rem;
}
.report > p {
  font-size: 14px;
  color: #40beb2;
}
.report > p:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.note {
  font-size: 14px;
  line-height: 24px;
  color: #a1a1a1;
}
.note > span {
  font-weight: 500;
  color: black;
}
