.buy {
  border: 1px solid #d6d9dc;
  border-radius: 10px;
  padding: 1rem 13px;
}
.buy > h5 {
  position: relative;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}
.buy > h5::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 5px solid #166a85;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.buyPrice {
  display: flex;
  column-gap: 1px;
  padding-bottom: 2rem;
}
.buyPrice > span:first-child {
  font-size: 19px;
  font-weight: 400;
  align-self: start;
}
.buyPrice > span:nth-child(2) {
  font-weight: 500;
  font-size: 2rem;
  align-self: stretch;
}
.buyPrice > span:last-child {
  font-size: 14px;
  font-weight: 500;
  align-self: start;
  padding-top: 4px;
}
.buy > p {
  font-size: 15px;
  color: #969696;
  padding-bottom: 10px;
}
.deliver {
  padding: 1rem 0;
  font-size: 13px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.deliver span {
  color: #40beb2;
  font-size: 16px;
  font-weight: 500;
}
.deliver span:hover {
  color: red;
  cursor: pointer;
}
.buy h4 {
  color: #37793d;
  font-size: 1.3rem;
  padding-bottom: 10px;
  font-weight: 400;
}
.buy select {
  width: 100%;
  height: 30px;
  border-radius: 9px;
  background-color: #f0f2f1;
  font-size: 1rem;
  padding: 0 3px;
}
.buy select:hover {
  cursor: pointer;
}
.buy select:focus {
  outline: none;
  border: none;
}
.buy button {
  width: 100%;
  height: 35px;
  background-color: #fed813;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 13px;
  margin-top: 15px;
}
.buy button:hover {
  cursor: pointer;
  filter: grayscale(40%);
}
.buyLists {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.showLessBuy {
  height: 200px;
  overflow: hidden;
}
.seeMoreBuy {
  height: auto;
}
.buyLists > div {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 13px;
  padding-bottom: 10px;
}
.buyLists > div > span:first-child {
  width: 100px;
}
.buyLists > div > span:last-child {
  width: 120px;
}
.return {
  color: #40beb2;
}
.return:hover {
  color: red;
  cursor: pointer;
}
.seeReturn {
  font-size: 11px;
  color: #40beb2;
}
.seeReturn:hover {
  color: red;
  cursor: pointer;
}
