.container {
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: 12;
}
.container > div:first-child {
  background-color: #000;
  opacity: 0.6;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}
.burgerMenu {
  color: #121921;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 17;
  width: 25%;
  height: 100%;
  background-color: white;
  overflow-y: scroll;
}
.burgerMenu > div:first-child {
  background-color: #232f3f;
  color: white;
  padding: 0.5rem 10px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.burgerMenu > div > ul {
  padding: 0 1.4rem;
  padding-top: 1rem;
  padding-bottom: 13px;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}
.burgerMenu div > ul:not(:last-child) {
  border-bottom: 1px solid #d7d9da;
}
.burgerMenu div > ul > li {
  display: flex;
  align-items: center;
  padding: 10px;
}
.burgerMenu div > ul > li:hover {
  cursor: pointer;
  background-color: #c4def7;
}
.iconArrowRight {
  margin-left: auto;
  margin-top: 7px;
  color: #a1a1a1;
  font-size: 1.3rem;
  font-weight: 700;
}
.burgerMenu div > ul > li > p {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
