.products {
  width: 96%;
  z-index: 1;
  margin: 0 auto;
  position: relative;
  margin-top: -370px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-bottom: 1.5rem;
}
.products > p {
  background-color: #f5f7f6;
  text-align: center;
  padding: 10px 0;
}
.products > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.8rem;
}
