.product {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0 3rem;
}
.product > img {
  display: block;
  margin: 0 auto;
}
.product > div {
  display: grid;
  grid-template-columns: 30% 45% 20%;
  column-gap: 2.2rem;
}
.product section:first-child > img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  position: sticky;
  top: 0;
}
.aboutProduct {
  padding-bottom: 10px;
}
.aboutProduct > div:first-child {
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d9da;
}
.aboutProduct > div:first-child h2 {
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 10px;
}
.discription {
  font-size: 1.5rem;
  padding-bottom: 5px;
}
.visit {
  display: block;
  padding-bottom: 5px;
  font-size: 14px;
  color: #40beb2;
}
.visit:hover,
.searchPage:hover,
.voted:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
}
.rating {
  padding-bottom: 10px;
}
.rating span:first-child {
  padding-right: 5px;
}
.voted {
  padding: 0 10px;
  display: inline-block;
  color: #40beb2;
  font-size: 14px;
  border-right: 2px solid black;
}
.searchPage {
  padding-left: 10px;
  display: inline-block;
  color: #40beb2;
  font-size: 14px;
}
.bought {
  font-size: 13px;
}
.aboutProduct > div:nth-child(2),
.aboutProduct > div:nth-child(3),
.aboutProduct > div:nth-child(4) {
  padding: 10px 0;
  border-bottom: 1px solid #d7d9da;
}
.price {
  display: flex;
  align-items: center;
  padding-bottom: 0.8rem;
}
.price > span:first-child {
  color: red;
  font-size: 1.7rem;
  padding-right: 5px;
}
.price > div {
  display: flex;
  column-gap: 1px;
}
.price > div > span:first-child {
  font-size: 19px;
  font-weight: 400;
  align-self: start;
}
.price > div > span:nth-child(2) {
  font-weight: 500;
  font-size: 2rem;
  align-self: stretch;
}
.price > div > span:last-child {
  font-size: 14px;
  font-weight: 500;
  align-self: start;
  padding-top: 4px;
}
.aboutProduct > div:nth-child(2) > span {
  font-size: 12px;
  padding-bottom: 0.7rem;
  display: inline-block;
}
.aboutProduct > div:nth-child(2) > span > span {
  text-decoration: line-through;
  padding-left: 5px;
}
.aboutProduct > div:nth-child(2) > p {
  font-size: 14px;
  word-spacing: 1px;
}
.aboutProduct > div:nth-child(2) > p > a {
  color: #40beb2;
}
.aboutProduct > div:nth-child(2) > p > a:hover {
  color: red;
  text-decoration: underline;
}
.aboutProduct > div:nth-child(2) > p > span {
  color: white;
  background-color: #edb155;
  padding: 3px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.aboutProduct > div:nth-child(2) > p:last-child {
  padding-bottom: 5px;
}
.aboutProduct > div:nth-child(2) > p:not(:last-child) {
  padding-bottom: 0.7rem;
}
.aboutProduct > div:nth-child(3) > span {
  font-weight: normal;
  font-size: 0.9rem;
  padding-bottom: 5px;
  display: inline-block;
}
.aboutProduct > div:nth-child(3) > span > span {
  font-weight: 700;
}
.R3 {
  display: flex;
  align-items: center;
  column-gap: 7px;
  padding-bottom: 15px;
}
.R3 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  border: 1px solid #edb155;
  border-radius: 2px;
  padding: 5px 6px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
.R3 > div > span:last-child {
  color: #c25253;
  font-size: 13px;
}
.lists {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  padding-bottom: 5px;
}
.lists > div {
  display: flex;
  column-gap: 10px;
}
.lists > div > span:first-child {
  font-weight: 600;
  font-size: 14px;
  width: 200px;
}
.lists > div > span:last-child {
  font-size: 14px;
  row-gap: 10px;
}
.aboutProduct > div:nth-child(4) > h3 {
  font-size: 17px;
  padding-bottom: 1rem;
  padding-top: 11px;
}
.aboutProduct > div:nth-child(4) > ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.aboutProduct > div:nth-child(4) > ul > li {
  list-style: disc;
  list-style-position: outside;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 500;
}
.aboutProduct > div:nth-child(4) > span {
  font-size: 13px;
  padding-bottom: 10px;
  display: inline-block;
}
.report {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding-bottom: 5px;
}
.iconMessage {
  color: #989a99;
  font-size: 1.5rem;
}
.report > p {
  font-size: 14px;
  color: #40beb2;
}
.report > p:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.note {
  font-size: 14px;
  line-height: 24px;
  color: #a1a1a1;
}
.note > span {
  font-weight: 500;
  color: black;
}
.buy {
  border: 1px solid #d6d9dc;
  border-radius: 10px;
  padding: 1rem 13px;
}
.buy > h5 {
  position: relative;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}
.buy > h5::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 5px solid #166a85;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.buyPrice {
  display: flex;
  column-gap: 1px;
  padding-bottom: 2rem;
}
.buyPrice > span:first-child {
  font-size: 19px;
  font-weight: 400;
  align-self: start;
}
.buyPrice > span:nth-child(2) {
  font-weight: 500;
  font-size: 2rem;
  align-self: stretch;
}
.buyPrice > span:last-child {
  font-size: 14px;
  font-weight: 500;
  align-self: start;
  padding-top: 4px;
}
.buy > p {
  font-size: 15px;
  color: #969696;
  padding-bottom: 10px;
}
.buy > span {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding-bottom: 1rem;
}
.deliver {
  padding-bottom: 1rem;
  font-size: 13px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.deliver span {
  color: #40beb2;
}
.deliver span:hover {
  color: red;
  cursor: pointer;
}
.buy h4 {
  color: #37793d;
  font-size: 1.3rem;
  padding-bottom: 10px;
  font-weight: 400;
}
.buy select {
  width: 100%;
  height: 30px;
  border-radius: 9px;
  background-color: #f0f2f1;
  font-size: 1rem;
  padding: 0 3px;
}
.buy select:hover {
  cursor: pointer;
}
.buy select:focus {
  outline: none;
  border: none;
}
.buy button {
  width: 100%;
  height: 35px;
  background-color: #fed813;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 13px;
  margin-top: 15px;
}
.buy button:hover {
  cursor: pointer;
  filter: grayscale(40%);
}
.buyLists {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.buyLists > div {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 13px;
  padding-bottom: 10px;
}
.buyLists > div > span:first-child {
  width: 100px;
}
.buyLists > div > span:last-child {
  width: 120px;
}
.return {
  color: #40beb2;
}
.return:hover {
  color: red;
  cursor: pointer;
}
