.product {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0 6rem;
}
.product > img {
  display: block;
  margin: 0 auto;
}
.product > div {
  display: flex;
  column-gap: 1.5rem;
}
.product section:first-child > img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  position: sticky;
  top: 0;
}
.aboutProduct {
  padding-bottom: 10px;
}
.aboutProduct > div:first-child {
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d9da;
}
.aboutProduct > div:first-child h2 {
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 10px;
}
.discription {
  font-size: 1.5rem;
  padding-bottom: 5px;
}
.visit {
  display: block;
  padding-bottom: 5px;
  font-size: 14px;
  color: #40beb2;
}
.visit:hover,
.searchPage:hover,
.voted:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
}
.rating {
  padding-bottom: 10px;
}
.rating span:first-child {
  padding-right: 5px;
}
.voted {
  padding: 0 10px;
  display: inline-block;
  color: #40beb2;
  font-size: 14px;
  border-right: 2px solid black;
}
.searchPage {
  padding-left: 10px;
  display: inline-block;
  color: #40beb2;
  font-size: 14px;
}
.bought {
  font-size: 13px;
}
.aboutProduct > div:nth-child(2),
.aboutProduct > div:nth-child(3),
.aboutProduct > div:nth-child(4) {
  padding: 10px 0;
  border-bottom: 1px solid #d7d9da;
}
.price {
  display: flex;
  align-items: center;
  padding-bottom: 0.8rem;
}
.price > span:first-child {
  color: red;
  font-size: 1.7rem;
  padding-right: 5px;
}
.price > div {
  display: flex;
  column-gap: 1px;
}
.price > div > span:first-child {
  font-size: 19px;
  font-weight: 400;
  align-self: start;
}
.price > div > span:nth-child(2) {
  font-weight: 500;
  font-size: 2rem;
  align-self: stretch;
}
.price > div > span:last-child {
  font-size: 14px;
  font-weight: 500;
  align-self: start;
  padding-top: 4px;
}
.aboutProduct > div:nth-child(2) > span {
  font-size: 12px;
  padding-bottom: 0.7rem;
  display: inline-block;
}
.aboutProduct > div:nth-child(2) > span > span {
  text-decoration: line-through;
  padding-left: 5px;
}
.aboutProduct > div:nth-child(2) > p {
  font-size: 14px;
  word-spacing: 1px;
}
.aboutProduct > div:nth-child(2) > p > a {
  color: #40beb2;
}
.aboutProduct > div:nth-child(2) > p > a:hover {
  color: red;
  text-decoration: underline;
}
.aboutProduct > div:nth-child(2) > p > span {
  color: white;
  background-color: #edb155;
  padding: 5px 2px;
}
.aboutProduct > div:nth-child(2) > p:last-child {
  padding-bottom: 5px;
}
.aboutProduct > div:nth-child(2) > p:not(:last-child) {
  padding-bottom: 0.7rem;
}
.lists {
  display: flex;
}
