.header {
  padding: 5px 0;
}
.searchbar {
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding-left: 0.4rem;
  background-color: #121921;
}
.logo {
  border: 2px solid transparent;
  padding: 4px;
  transition: all 0.3s;
  border-radius: 3px;
  width: 100px;
}
.logo:hover {
  border: 2px solid white;
  transition: all 0.3s;
  transform: scale(1.01);
}
.deliver {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  column-gap: 10px;
  border: 2px solid transparent;
  padding: 6px;
  transition: color 0.3s;
  border-radius: 3px;
}
.deliver:hover {
  border: 2px solid white;
  transition: color 0.3s;
  cursor: pointer;
}
.deliver > span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deliver > span span:first-child {
  font-size: 12px;
  color: #aaafb5;
}
.inputSearch {
  width: 60%;
  height: 40px;
}
.inputSearch form {
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  height: 100%;
  border: 2px solid #feba73;
}
.inputSearch input {
  border: none;
  outline: none;
  height: 100%;
  width: 88%;
  padding-left: 10px;
  letter-spacing: 1px;
  font-size: 14px;
}
input::placeholder {
  color: #aaafb5;
}
.inputSearch input:focus form {
  border: 2px solid #feba73;
}
.inputSearch button {
  width: 5.5%;
  height: 100%;
  border: none;
  outline: none;
  border-top-right-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
  background-color: #feba73;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FaSearch {
  font-size: 1.3rem;
}
.inputSearch button:hover {
  cursor: pointer;
  filter: grayscale(80%);
}
[class$="container"] {
  height: 100%;
}
[class$="option"]:hover {
  background-color: rgba(83, 83, 145, 0.497);
}
[class$="control"] {
  height: 100%;
  border-radius: 0.1rem;
}
[class$="indicatorSeparator"] {
  display: none;
}
.language {
  display: flex;
  align-items: center;
  color: white;
  column-gap: 6px;
  border: 2px solid transparent;
  padding: 0 7px;
  height: 50px;
  transition: all 0.3s;
  border-radius: 3px;
}
.language span {
  font-size: 15px;
}
.language:hover {
  border: 2px solid white;
  transition: all 0.3s;
  cursor: pointer;
}
.signIn {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  color: white;
  border: 2px solid transparent;
  transition: all 0.3s;
  padding: 5px 7px;
  border-radius: 3px;
}
.signIn span:first-child {
  font-size: 11px;
}
.signIn span:last-child {
  font-weight: 700;
  font-size: 14px;
}
.signIn:hover {
  border: 2px solid white;
  transition: all 0.3s;
  cursor: pointer;
}
.cart {
  display: flex;
  color: white;
  align-items: center;
  position: relative;
  border: 2px solid transparent;
  transition: all 0.3s;
  padding: 5px 7px;
  border-radius: 3px;
}

.cart span:first-child {
  position: absolute;
  top: 0;
  left: 30%;
  color: orange;
}
.cart img {
  width: 55px;
}
.cart span:last-child {
  font-weight: 700;
  font-size: 14px;
  align-self: flex-end;
}
.cart:hover {
  border: 2px solid white;
  transition: all 0.3s;
  cursor: pointer;
}

/* nav bar */
.menu {
  background-color: #232f3f;
  padding: 3px 0;
  color: white;
  padding-left: 0.4rem;
  height: 32px;
}
.menu ul {
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 100%;
}
.menu li:first-child {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.menu li {
  font-size: 13px;
  border: 2px solid transparent;
  padding: 0 5px;
  border-radius: 4px;
  height: 100%;
  align-content: center;
}
.menu li:hover {
  border: 2px solid white;
  transition: all 0.3s;
  cursor: pointer;
}
.bergurIcon {
  width: 40px;
  font-size: 20px;
}
