/* style main */
.main {
  padding: 0 13px;
  margin: 0 auto;
}
.slider {
  height: 100%;
  margin: 0 auto;
}
.mySwiper img {
  object-fit: cover;
  width: 100%;
}
.products {
  width: 96%;
  z-index: 1;
  margin: 0 auto;
  position: relative;
  margin-top: -370px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-bottom: 1.5rem;
}
.products > p {
  background-color: #f5f7f6;
  text-align: center;
  padding: 10px 0;
}
.products > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.8rem;
}
.product {
  background-color: #ffffff;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.product img {
  width: 200px;
  height: 200px;
  align-self: center;
  padding-bottom: 2rem;
}
.product h2 {
  font-weight: 300;
  font-size: 1.7rem;
  padding-bottom: 10px;
}
.product h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #dee5ec;
  display: block;
  margin-top: 5px;
}
.price {
  display: flex;
  column-gap: 4px;
  align-items: center;
}
.price span:first-child {
  font-size: 15px;
  font-weight: 300;
}
.price span:nth-child(2) {
  font-weight: 500;
  font-size: 1.6rem;
}
.price span:last-child {
  font-size: 14px;
  font-weight: 500;
}
.discount {
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 1.8rem;
}
.product > p {
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
}
.stars {
  display: flex;
  column-gap: 5px;
}
.stars img {
  width: 15px;
  height: 15px;
}
.stars span {
  font-size: 13px;
  font-weight: 300;
  padding-left: 5px;
}
.product a {
  padding-top: 15px;
  font-size: 1rem;
  color: black;
}
.product a:hover {
  color: red;
}
