:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --swiper-navigation-color: black;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #e2e6e7;
}
.swiper {
  height: 100%;
}
.swiper-button-prev,
.swiper-button-next {
  color: black;
  width: 60px;
  border: 2px solid black;
  height: 220px;
  border-radius: 10px;
  position: absolute;
  top: 4%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 2.5rem;
  font-weight: 900;
}
